@{
    ViewBag.Title = "Produto Não Encontrado";
}

<div>
    <h1>Produto Não Encontrado</h1>
    <p>Desculpe, mas o produto que você está procurando não foi encontrado.</p>
    <a asp-action="Create" title="criar" class="btn btn-warning">
        <span class="fas fa-edit">Criar</span>
    </a>
</div>