@{
    ViewData["Title"] = "Home";
}

<h1>Bem-vindo à CleanArchMvc API</h1>
<p>Esta API permite gerenciar a criação de produtos e categorias de maneira eficiente e estruturada. Use os links abaixo para navegar e gerenciar seus produtos e categorias.</p>

<h2>Funcionalidades</h2>
<ul>
    <li>Criação, edição e exclusão de produtos</li>
    <li>Gerenciamento de categorias</li>
    <li>Listagem de produtos por categoria</li>
</ul>

<h2>Gerenciar</h2>
<div>
    <a asp-controller="Products" asp-action="Index" class="btn btn-primary">Gerenciar Produtos</a>
    <a asp-controller="Categories" asp-action="Index" class="btn btn-secondary">Gerenciar Categorias</a>
</div>